#!/bin/bash

{{ if and (eq .chezmoi.os "darwin") (index . "installBrew") }}

/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

brew bundle --file="$HOME/.Brewfile"

{{ end }}
