#!/bin/bash

{{ if eq .chezmoi.os "darwin" }}

/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

BREWFILE_PATH="$(chezmoi target-path dot_Brewfile)"
brew bundle --file="$BREWFILE_PATH"

{{ end }}
